<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buy Galeons</title>
    <link rel="stylesheet" href="./views/buyGaleons/css/buyGaleons.css">
</head>

<body>
    <div class="container">
        <h1>Buy Galeons</h1>
        <p>Mint Price:
            <span id="mint-price"></span> ETH per Galeon
        </p>

        <p class="label">Galeons</p>
        <input type="number" id="galeon-amount" placeholder="Enter amount of Galeons">
        <p class="label">Ethers (decimals handled by UI)</p>
        <input type="number" id="ether-amount" placeholder="Enter amount of Ether">
        <button id="buy-button">Buy Galeons</button>
    </div>
    <script type="module" src="./views/buyGaleons/js/buyGaleons.js"></script>
</body>

</html>