<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Owners claims and withdraws</title>
    <link rel="stylesheet" href="views/ownersClaims/css/ownersClaims.css">
</head>

<body>
    <div class="container">
        <div class="section">
            <label>Galeons to claim</label>
            <p id="galeons-claim"></p>
            <button id="claim-galeons-btn">Claim Galeons</button>
        </div>
        <div class="section">
            <label>Ethers to claim</label>
            <p id="ethers-claim"></p>
            <button id="claim-ethers-btn">Claim Ethers</button>
        </div>
        <div class="section">
            <label for="galeons-amount">Galeons amount</label>
            <input type="text" id="galeons-amount" placeholder="Enter Galeons amount">
            <button id="withdraw-galeons-btn">Withdraw Galeons</button>
        </div>
        <div class="section">
            <label for="ethers-amount">Ethers amount</label>
            <input type="text" id="ethers-amount" placeholder="Enter Ethers amount">
            <button id="withdraw-ethers-btn">Withdraw Ethers</button>
        </div>
    </div>
    <script type="module" src="views/ownersClaims/js/ownersClaims.js"></script>
</body>

</html>